# Core functionality - changes here should be rare!
/src/app.py                   @jvictorferreira3301
/src/backend/database.py      @jvictorferreira3301
/src/backend/routers/auth.py  @jvictorferreira3301

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jvictorferreira3301
